html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.nav-item :hover{
    background-color :lightcoral;
    border-radius:5px;
}
#signinform {
background-color:lightcoral;
border-radius:5px;
}

    #signinform:hover {
        border-radius: 5px;
        box-shadow: 5px 5px 2px 2px lightblue;
    }
#signupform {
    background-color: lightcoral;
    border-radius: 5px;
}

    #signupform:hover {
        border-radius: 5px;
        box-shadow: 5px 5px 2px 2px lightblue;
    }

.navbar {
border-radius:5px;
}
.footer {
border-radius:5px;
}
